  footer{
    background-color: white; 
    height: 60px;  
    width: 100%; 
    bottom: 0; 
    border-top: 1px solid #CCCCCC
    position: fixed;
  }

  span.foot{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
  }
